table {
    width: 100%;
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

th {
    background-color: var(--variation);
    color: white;
}

input {
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#print {
    width: 10%;
}

.input {
    text-align:center
}

