.list {
    background-color: white;
}

.list:hover {
    background-color: lightgray;
}

.var {
    background-color: var(--variation);
    color: white;
}

#newlist {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.enabled {
    background-color: var(--variation);
    color: white;
}

.disabled {
    background-color: lightgray;
    color: gray;
}